/* Snap (Custom) */



/* Fonts & Icons
================================================== */

@font-face {
    font-family:"entypo";
    src:url("../fonts/entypo.eot");
    src:url("../fonts/entypo.eot#iefix") format("embedded-opentype"),
        url("../fonts/entypo.woff") format("woff"),
        url("../fonts/entypo.ttf") format("truetype"),
        url("../fonts/entypo.svg#entypo") format("svg");
    font-weight:normal;
    font-style:normal;
}

[class*="icon-"]::before,
[class*="icon-"]::after {   
font-family:"entypo";
font-style:normal;
}

.icon-flash::before { content:"\e800"; }
.icon-github::before { content:"\e801"; }
.icon-down-bold::before { content:"\e802"; }



/* Preload Images
================================================== */

/*
body::after {
content:url("images/img01.jpg")
        url("images/img02.jpg")
        url("images/img03.jpg");
display:none;
}
*/



/* Custom Styles
================================================== */

.container { margin-top:2%; }

[class^="g-"] {
background-color:rgba(0,0,0,.05);
border-radius:2px;
text-align:center;
}

.no-bg { background:none; }



/* Media Queries (Screen Width)
================================================== */

/* Mobile & Tablet */
@media only screen and (max-width:800px) {
    
}

/* Mobile */
@media only screen and (max-width:479px) {
    
}

/* Tablet */
@media only screen and (min-width:480px) and (max-width:800px) {
    
}
